body {
  background-color: white;
}

* {
  box-sizing:border-box;
}

@font-face{
    font-family: 'Poppins';
    src: url(Poppins-Regular.ttf) format("TrueType");
    font-weight: normal;
    font-style: italic;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: green;
  flex-direction: column;
  width: 120px;
}

.flex-container > div {
  background-color: white;
  width: 230px;
  text-align: left;
  line-height: 25px;
  font-size: 20px;
  font-color: green;
}

.flex-container2 {
  display: flex;
  flex-wrap: nowrap;
  background-color: green;
  flex-direction: row;
}

.flex-container2 > div {
  background-color: white;
  width: 229px;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
}

.flex-item:nth-of-type(1) { flex-grow: 3; }
.flex-item:nth-of-type(2) { flex-grow: 1; }
.flex-item:nth-of-type(3) { flex-grow: 1; }
.flex-item:nth-of-type(4) { flex-grow: 1; }
.flex-item:nth-of-type(5) { flex-grow: 1; }
.flex-item:nth-of-type(6) { flex-grow: 1; }


.item1 {
  grid-area: header;
  font-family: sans-serif;
  font-style: normal;
  font-size: 20px;
 }
.item2 {
  grid-area: menu;
  font-family: sans-serif;
  width: 250px;
  font-style: normal;
  font-size: 20px;
}
.item3 {
  grid-area: header2;
  font-style: oblique;
  font-size: 120px;
}
.item4 {
  font-style: normal;
  width: 580px;
  font-size: 20px;
 }
.item5 {
  grid-area: right;
  font-style: normal;
  font-size: 20px;
  width: 100%;
  background-color: white;
  background-image:  url("island1.jpeg");
  border-radius:100%;
  background-size: cover;
 }
.item5:hover {
          background-image:  url("island1.jpeg");
          border-radius:0;}
.item6 {
  grid-area: left;
  width: 100%;
  background-color: white;
  background-image:  url("island2.jpg");
  border-radius:100%;
  background-size: cover;
  }
  .item6:hover {
          background-image:  url("island2.jpg");
          border-radius:0;}
.item7 {
  grid-area: main2;
  width: 580px;
}
.item8 {
  grid-area: main3;
  width: 580px;
 }
.item9 {
  grid-area: main4;
  width: 580px;
}
.item10 {
  grid-area: right2;
  width: 100%;
  background-color: white;
  background-image:  url("island3.jpeg");
  border-radius:100%;
  background-size: cover;
  }
  .item10:hover {
          background-image:  url("island3.jpeg");
          border-radius:0;}
.item11 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu header2 header2 header2 header2 header2'
    'menu main main main right right'
    'menu left left main2 main2 main2'
    'menu main3 main3 main3 right2 right2'
    'menu main4 main4 main4 right2 right2'
    'menu footer footer footer footer footer';
  grid-gap: 0px;
  background-color: white;
  padding: 0px;
  border-width: 0px;
  align-items: stretch;
  justify-content: stretch;
}

.grid-container > div {
  background-color: white;
  text-align: left;
  color: green;
  padding: 10px;
}

.header1 {
    color: green;
    font-family:sans-serif;
    font-style: normal;
    font-size: 20px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.header2 {
    color: green;
    font-face: Lora;
    font-style: italic;
    font-size: 120px;
    margin-top: 2px;
    padding-left: 300px;
    margin-bottom: 1px;
}

.body-h {
    color: green;
    font-family:sans-serif;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.body-n {
    color: green;
    font-face: Helvetica;
    font-style: normal;
    font-size: 20px;
    margin-top: 5px;
}

.body-s {
    color: green;
    font-face: Helvetica;
    font-style: oblique;
    font-size: 10px;
}

hr.new1 {
  border-top: 1px solid green;
  border-radius: 5px;
}
